# Node.js
node_modules/
dist/
*.local

# .env files
.env
.env.*

# Python
__pycache__/
*.py[cod]
*.pyo

# VSCode settings
*.code-workspace
.vscode/

# OS
.DS_Store

# Logs
*.log
logs/

# datas
raw-datas/