# Node.js
node_modules/
dist/
*.local

# .env files
.env
.env.*

# Python
__pycache__/
*.py[cod]
*.pyo

# VSCode settings
*.code-workspace
.vscode/

# OS
.DS_Store

# Logs
*.log
logs/

# datas
raw-datas/

# ---------------------------
# ここから例外（追記する）
# ---------------------------
# Frontend 用 .env はバージョン管理に含める
!pharmaceutical-client/.env.production
!pharmaceutical-client/.env.development